<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div>
    <form method="post" action="login">
        <div>
            <label>
                <input type='text' name='username' value=''>
            </label>
        </div>
        <div>
            <label>
                <input type='password' name='password' />
            </label>
        </div>
        <div>
            <input name="submit" type="submit" value="submit" />
        </div>
    </form>
</div>

</body>
</html>